*{
    font-family: 'DM Sans', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #fff;
}
html,
body {
    margin: 0;
    padding: 0;
}
body{
    background: linear-gradient(180deg, #90AEA7 0%, #222222,#181818,#000 89.7%);
    background-repeat: no-repeat; /* Prevent repeating the gradient */
    background-size: cover;
}
nav{
    position: fixed;
    overflow-y: auto; /* Add this property for vertical scrolling */
    max-height: 100%; /* Adjust the maximum height as needed */
    display: inline-block;
    max-width: 300px;
    top:0;
}

.sidebar{
    background-color: #000;
    padding: 10px;
    z-index: 3;
    width: 100%;
}
a{
    font-weight: 700;
    font-size: 1rem;
    color: #fff;
    text-decoration: none;
}

.logo img{
    height: 40px;
    margin:auto;
    margin-block: 10px;
}
.logo{
    margin-bottom: 20px;
}

.nav-links ul{
    padding: 0;
    
}
.nav-links li{
    padding: 15px;
    list-style: none;
    display: flex;
    align-items: center;
}
.first-block li:first-child{
    background-color: aliceblue;
    border-radius: 6px;
    background: #282828;
}
.nav-links  img{
    width: 25px;
    margin-right: 20px;
}
.nav-links{
    margin-bottom: 20px;
    
}
.install{
    margin-bottom: 150px;
}
nav::-webkit-scrollbar{
    display: none;
}
#top-bar{
    position: fixed;
    top: 0;
    left: 300px;
    right: 0;
    background-color: #00000032;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 999;
}

.user-con{
    display: flex;
}
.arrows img{
    margin-right: 20px;
}
.user-con{
    background-color: #000;
    justify-content: space-around;
    align-items: center;   
    padding: 3px;
    border-radius: 20px;
}

.user-con img:first-child{
    border-radius: 50%;
    width: 37px;
    border: 3px solid white;
}
.user-con h3{
    font-size: 1.25rem;
    margin-inline: 10px;
}
#listening-on-bar{
    position: fixed;
    width: 100%;
    padding: 5px;
    bottom: 0;
    display: flex;
    justify-content: flex-end;
    background-color: #1ED760;
    z-index: 5;
}
#listening-on-bar p{
    color: #000;
    margin-right: 20px;
}
#musicPlayer{
    width: 100%;
    padding:10px 20px;
    display: flex;
    justify-content:space-between;
    align-items: center;
    background-color: #181818;
    position: fixed;
    bottom: 0;
    left: 0; 
    z-index: 5;

}
.song{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.album-cover{
    width: 70px;
    height: 70px;
}
.song-details{
    margin-inline: 10px;
}

.spotify-player{
    position: fixed;
    z-index: 5;
    bottom: 0;
}
.player{
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 10px;
}
.progress{
    display: flex;
}
.song-controls {
    display: flex;
    align-items: center;
}
.song-controls img{
    margin-right: 20px;

}
#progress-bar{
    width: 100%;
    margin-inline: 20px ;
}
.song-option{
    display: flex;
    align-items: center;
}
.song-option img{
    margin-inline: 5px;
}
h2{
    font-size: 2rem;
}

/* ---------------------- */
.album{
    margin-top: 100px;
}
.album-details{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.album-details h1{
    font-size: 3.5rem;
    font-weight: 800;
}
.light{
    opacity: 0.7;
}
.album-details p{
    margin-top: 10px;
}
#spotify{
    opacity: 1;
    color: #fff;
}
.playlist-container{
    background: #00000031;
    padding: 30px;
}
main{
    margin-left: 300px;
}
.divider{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    opacity: 0.7;
    position: relative;
}
.divider .p-l{
    margin-left: 40px;
}
.divider .p-l-x{
    margin-left: 160px;
}
.num{
    margin-right: 10px;
}
.line{
    width: 100%;
    border-bottom: 1px solid #fff;
    position: absolute;
    margin-top: 10px;
    opacity: 0.3;
}
.row{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    padding: 10px;
}
table{
    width: 100%;
    padding: 20px;
    margin-bottom: 200px;
}
.col-1{
    display: flex;
    align-items: center;
}
.col-1 img{
    margin-inline: 5px;
}
.col-4 p{
    margin-inline: 10px;
}
.col-4{
    display: flex;
    
}
.row{
    padding-inline: 20px;
    padding-block: 5px;
}

.row-1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #252727;
}
main{
    height:100%;
}
nav{
    height: 1000%;
}

@media screen and (max-width:800px) {
    :root{
        font-size: 12px;
    }
    
}
@media screen and (max-width:900px) {
    main{
        margin-left: 150px;
    }
    :root{
        font-size: 10px;
    }
    .logo img{
        height: 30px;
    }
        nav{
            max-width: 150px;
        }
    .album{
        margin-top: 0px;

    }
    .album-details{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 50px;
        margin-top: 30px;

    }
    .divider .p-l{
        margin-left: 10;
    }
    .divider .p-l-x{
        margin-left: 10px;
    }
    .top-1{
        display: flex;
        width: 100%;

        justify-content: space-between;
    }
    tr td:nth-child(2){
        width: 45%;
    }
    tr td:nth-child(3){
        display: none;
    }
    tr td:nth-child(4){
        display: none;
    }
    .p-l{
        display: none;
    }
    .top-1 img{
        width: 50px;
    }
    

}

@media screen and (max-width:490px) {
    
    .album-details{
        width: 60%;
        margin-inline: auto;
        margin-top: 30px;
    }
    tr td:nth-child(2){
        display: none;
    }
    .p-l-x{
        display: none;
    }
    .top-1 img{
        width: 30px;
    }
    body{
        overflow-x: hidden;
    }
    .install{
        margin-bottom: 200px;
    }
}
@media screen and (max-width:380px) {
    .album-details img{
        width: 150px;
    }
    .album-details h1{
        font-size: 2rem;
    }
    table,tr{
        padding: 5px;
    }
    .row{
        padding: 5px;
    }
   
}
@media screen and (max-width:300px) {
    nav{
        max-width: 100px;
    }
    .logo img{
        height: 25px;
    }
    .nav-links img{
        height: 15px;
        margin-right: 10px;
    }
    main{
        margin-left: 100px;
    }
    .album-details img{
        width: 100px;
    }
    #a-c{
        width: 100px;
    }
}
@media screen and (max-width:660px) {
    
    #top-bar{
        left: 150px;
    }
    
    #musicPlayer{
        bottom: 0px;
    }
    #listening-on-bar{
        display: none;
    }
    #musicPlayer{
        display: block;
        padding: 10px;
    }
    #musicPlayer {
        padding: 5px;
    }
    #progress-bar{
        width: 80%;
    }
    .progress p:last-child{
        text-align: end;
    }
    .progress{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    #progress-bar {
        margin: 0;
    }
    .song-option{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
}