*{
    font-family: 'DM Sans', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #fff;
}
html,
body {
    margin: 0;
    padding: 0;
}
body{
    background-image: linear-gradient(to bottom, #414141, #3b3b3b, #353535, #2f2f2f, #292929, #242424, #202020, #1b1b1b, #161616, #111111, #090909, #000000);
    background-repeat: no-repeat; /* Prevent repeating the gradient */
    background-size: cover;
}
nav{
    position: fixed;
    overflow-y: auto; /* Add this property for vertical scrolling */
    max-height: 100%; /* Adjust the maximum height as needed */
    display: inline-block;
    max-width: 300px;
    top:0;
}

.sidebar{
    background-color: #000;
    padding: 10px;
    z-index: 3;
    width: 100%;
}
a{
    font-weight: 700;
    font-size: 1rem;
    color: #fff;
    text-decoration: none;
}

.logo img{
    height: 40px;
    margin:auto;
    margin-block: 10px;
}
.logo{
    margin-bottom: 20px;
}

.nav-links ul{
    padding: 0;
    
}
.nav-links li{
    padding: 15px;
    list-style: none;
    display: flex;
    align-items: center;
}
.first-block li:first-child{
    background-color: aliceblue;
    border-radius: 6px;
    background: #282828;
}
.nav-links  img{
    width: 25px;
    margin-right: 20px;
}
.nav-links{
    margin-bottom: 20px;
    
}
.install{
    margin-bottom: 150px;
}
nav::-webkit-scrollbar{
    display: none;
}
#top-bar{
    position: fixed;
    top: 0;
    left: 300px;
    right: 0;
    background-color: #00000032;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 999;
}

.user-con{
    display: flex;
}
.arrows img{
    margin-right: 20px;
}
.user-con{
    background-color: #000;
    justify-content: space-around;
    align-items: center;   
    padding: 3px;
    border-radius: 20px;
}

.user-con img:first-child{
    border-radius: 50%;
    width: 37px;
    border: 3px solid white;
}
.user-con h3{
    font-size: 1.25rem;
    margin-inline: 10px;
}
#listening-on-bar{
    position: fixed;
    width: 100%;
    padding: 5px;
    bottom: 0;
    display: flex;
    justify-content: flex-end;
    background-color: #1ED760;
    z-index: 5;
}
#listening-on-bar p{
    color: #000;
    margin-right: 20px;
}
#musicPlayer{
    width: 100%;
    padding:10px 20px;
    display: flex;
    justify-content:space-between;
    align-items: center;
    background-color: #181818;
    position: fixed;
    bottom: 30px; 
    left: 0; 
    z-index: 5;

}
.song{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.album-cover{
    width: 70px;
    height: 70px;
}
.song-details{
    margin-inline: 10px;
}

.spotify-player{
    position: fixed;
    z-index: 5;
    bottom: 0;
}
.player{
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 10px;
}
.progress{
    display: flex;
}
.song-controls {
    display: flex;
    align-items: center;
}
.song-controls img{
    margin-right: 20px;

}
#progress-bar{
    width: 100%;
    margin-inline: 20px ;
}
.song-option{
    display: flex;
    align-items: center;
}
.song-option img{
    margin-inline: 5px;
}
h2{
    font-size: 2rem;

}
#featured h2{
    margin-bottom: 30px;
}
#featured{
    margin-left: 300px;
    padding-inline: 30px;
    margin-block: 20px;
    margin-top: 80px;
}
.featured-card-containers{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
.featured-card{
    display: flex;
}
.show-text{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.card-container{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    margin-top: 30px;
}
.card{
    display: flex;
    align-items: center;
}
.card-text{
    background-color: #303030;
    height: 100%;
    display: flex;
    width: 200px;
    align-items: center;
    padding: 20px;
}
.shows-section{
    margin-left: 300px;
    padding: 30px;
}
.shows{
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
    margin-bottom: 200px;
    gap: 20px;
}

.show-card{
    display: flex;
    flex-direction: column;
    background-color: #181818;
    padding: 20px;
}
.show-card img{
    width: 180px;
    margin-bottom: 10px;

}
.show-card h4{
    font-size: 1.1rem;
}
.show-card p{
    font-size: 0.8rem;
    color: #B3B3B3;
}
@media screen and (max-width:800px) {
    :root{
        font-size: 12px;
    }
}
@media screen and (max-width:490px) {
    #top-bar{
        display: block;
    }
    .arrows{
        display: flex;
        justify-content: space-between;
        margin-bottom: 10px;
    }
    #featured{
        margin-top: 120px;
    }
    .featured-card{
        display: flex;
        flex-direction: column;
    }
    .card-text{
        width: 100%;
    }
    .featured-card img{
        height: 120px;
    }

}
@media screen and (max-width:660px) {
    :root{
        font-size: 10px;
    }
    .logo img{
        height: 30px;
    }
    nav{
        max-width: 150px;
    }
    #top-bar{
        left: 150px;
    }
    .install{
        margin-bottom: 200px;
    }
    #featured{
        margin-left: 150px;
        padding: 10px;
    }
    .shows-section{
        margin-left: 150px;
        padding: 10px;
    }
    .show-card{
        padding: 10px;
    }
    .show-card img{
        width: 100px;

    }
    .show-card h4,P{
        width: 70%;
    }
    .show-text{
        display: block;
    }
    .show-text p{
        margin-top: 10px;
        text-decoration: underline;
    }
    #musicPlayer{
        bottom: 0px;
    }
    #listening-on-bar{
        display: none;
    }
    #musicPlayer{
        display: block;
        padding: 10px;
    }
    #musicPlayer {
        padding: 5px;
    }
    #progress-bar{
        width: 80%;
    }
    .progress p:last-child{
        text-align: end;
    }
    .progress{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    #progress-bar {
        margin: 0;
    }
    .song-option{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    
}
@media screen and (max-width:300px) {
    nav{
        max-width: 100px;
    }
    .logo img{
        height: 25px;
    }
    .nav-links img{
        height: 15px;
        margin-right: 5px;
    }
    #top-bar{
        left: 100px;
    }
    #featured{
        margin-left: 100px;
        padding: 10px;
    }
    .shows-section{
        margin-left: 100px;
        padding: 10px;    
        padding: 0;

    }
    .show-card img{
        width: 100px;
        margin: auto;
    }
    .show-card h4,P{
        width: 70%;
    }
    .show-text{
        display: block;
    }
    .show-text p{
        margin-top: 10px;
        text-decoration: underline;
    }
    .featured-card{
        display: flex;
        flex-direction: column;
        margin: auto;
        padding: 0;
    }
    .card-text{
        width: 100%;
        margin: auto;
    }
    .featured-card img{
        height: 100px;
    }
    
}
.show-card, .featured-card{
    transition: all 0.4s ease-in ;
}
.show-card:hover, .featured-card:hover{
    box-shadow: 0 0 30px 0 #1ed760;
    scale: 1.03;
}